//experience section 

@use '../components/card';
@use "../helpers/index" as *;

.experience{
    @include flex(column, center);
    width: 100%;
    gap: 45px;
    align-items: flex-start;
    

    .card{      

        .date{
            align-self: flex-start;
            width: 20%;
            
        }

        .description{
            align-self: flex-start;
            width: 65%;
            gap: 10px   ;
            

            .skills{   
                       
                ul{
                    list-style: none;
                        @include flex(row, center);
                        flex-wrap: wrap;
                        gap: 15px;
                    
                    li{
                        background-color: rgba(0, 255, 179, 0.25) ;
                        
                        width: fit-content;
                        padding: 5px 10px 5px 10px;
                        border-radius: 20px 20px 20px 20px ;
                       
                        
                    }
                }

            }
        }
        

    }

}