//experience section 

@use '../components/card';
@use "../helpers/index" as *;

.experience{
    @include flex(column, center);
    width: 100%;
    gap: 45px;
    align-items: flex-start;
    //border: $border-test;

    .card{      

        .date{
            align-self: flex-start;
            width: 20%;
            border: $border-test;
        }

        .description{
            align-self: flex-start;
            width: 65%;
            gap: 10px   ;
            border: $border-test;
        }
    }

}