//nav bar
@use '../helpers/index' as *; 
@use "../components/logo";


header{ 
    background-color: $tertiary;
    @include flex(row, space-between);
    
    width: 100%;

    nav{

        ul{
            list-style: none;
            display: flex;
            padding: 15px;
          
            
            gap: 25px;

            li a{
                text-decoration: none;
                color: $text;
            }
        }
    }
    
    
    
}