//nav bar
@use '../helpers/index' as *; 
@use "../components/logo";


header{ 
    background-color: $tertiary;
    @include flex(row, space-between);
    
    width: 100%;

    nav{

        ul{
            list-style: none;
            text-decoration: none;
            display: flex;
            padding: 15px;
            color: $text;
            
            gap: 15px;
        }
    }
    
    
    
}