//tagline 
@use "../helpers/index" as *;

.tagline-container{
    
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position:  fixed ;
    margin-left: 50px;
    top: 20%;
    
    //border: $border-test;

    @include l-desktop{
        width: 45%;
    }

    @include desktop{
        width: 35%;
        
    }

    .contact-info{
        margin-top: 50px;
    }

}

