//base
@import "../helpers/variables";
@import "../helpers/mixins";

body{ 
    @include no-pad-marg;
    background-color: $background;
}

.main-container{ 
    width: 66%;
    margin: auto;
    min-width: 1024px;
}