//card 
@use "../helpers/index" as *;

.card{
    @include flex(row,space-around);
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 15px;
    
    @include laptop{
        @include flex(column, center);
        align-content: center;
        width: 80%;
    }

    &:hover{
     background-color: rgba(255, 255, 255, 0.03);
     @include card-box-shadow;
        
        #card-heading{
            color: #45B0AE;
        }

    }
}