//mixins

@mixin flex($direction, $content){
    display: flex;
    justify-content: $content;
    align-items: center;
    flex-direction: $direction;
    
}

@mixin no-pad-marg{
    margin: 0px;
    padding: 0px;
}

@mixin down-box-shadow{
    box-shadow: 0px 10px 14px #304D6D;
}

@mixin card-box-shadow{
    box-shadow: 0px 0px 8px 2px #3BA99C;
}