//mixins

@mixin flex($direction, $content){
    display: flex;
    justify-content: $content;
    align-items: center;
    flex-direction: $direction;
    
}

@mixin no-pad-marg{
    margin: 0px;
    padding: 0px;
}